@tailwind base;
@tailwind components;
@tailwind utilities;

.x-mark {
  width: 26px;
  height: 26px;
  position: relative;
}
.x-mark:after {
  content: "";
  height: 26px;
  border-left: 4px solid rgb(71 85 105);
  position: absolute;
  transform: rotate(45deg);
  left: 11px;
}

.x-mark:before {
  content: "";
  height: 26px;
  border-left: 4px solid rgb(71 85 105);
  position: absolute;
  transform: rotate(-45deg);
  left: 11px;
}

.striped {
  background: repeating-linear-gradient(
    45deg,
    hsl(200, 90%, 55%),
    hsl(200, 90%, 55%) 7px,
    hsl(200, 90%, 47%) 7px,
    hsl(200, 90%, 47%) 14px
  );
}

.loading {
  animation: pulse 2s infinite;
}

.loading-1 {
  animation-delay: 0.2s;
}

.loading-2 {
  animation-delay: 0.4s;
}

.loading-3 {
  animation-delay: 0.6s;
}

.loading-4 {
  animation-delay: 0.8s;
}

.loading-5 {
  animation-delay: 1s;
}

.loading-6 {
  animation-delay: 1.2s;
}

.loading-7 {
  animation-delay: 1.4s;
}

.loading-8 {
  animation-delay: 1.6s;
}

.loading-9 {
  animation-delay: 1.8s;
}

.loading-10 {
  animation-delay: 2s;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}
